
.div1{
    margin-top: 0px;
    width: 100%;
    height: 100px;
    background-color:SteelBlue;
    }
.h11 {
    font-family: Monospace, Monospace;
    font-style: normal;
    color: Silver;
     text-align: left
    }
.button1 {
            background-color: SteelBlue;
            color: white;
            margin-right:auto;
            float: right;

        }

.button2 {
            background-color: SteelBlue;
            color: white;
            margin-right: auto;
        }

