<div class="div1">

    <h1 class="h21">Register</h1>
    <div class="line1"></div>
    
        <form [formGroup]="form" (ngSubmit)="sendRegisterData()" > 
        <table class="table-pom col-12">
            <tr class="col-6">
                <th><label class="h31">First Name:</label></th>
                <td><input  required class="input1" type="text" formControlName="firstName" ></td>
               
            </tr>
            <tr class="col-6">
                <th><label class="h31">Last Name:</label></th>
                <td><input required class="input1" type="text" formControlName="lastName"></td>
            </tr>
           
          
            <tr class="col-6">
                <th><label class="h31">Username:</label></th>
                <td><input required class="input1" type="text" formControlName="username"></td>
            </tr>
            <tr class="col-6">
                <th><label class="h31">Password:</label></th>
                <td><input required class="input1" type="password" formControlName="password"></td>
            </tr>

            <tr class="col-6">
                <th><label class="h31">Adress:</label></th>
                <td><input required class="input1" type="text"
                    formControlName="address"></td>
            </tr>
            <tr class="col-6">
                <th><label class="h31">Country:</label></th>
                <th><input required class="input1" type="text" formControlName="country"></th>
            </tr>
           
            <tr class="col-6">
                <th><label class="h31">Email:</label></th>
                <td><input required class="input1" type="email" formControlName="email"></td>
            </tr>
            <tr class="col-6">
                <th><label class="h31">Phone Number:</label></th>
                <td><input required class="input1" type="text" formControlName="phoneNumber"></td>
                
            </tr>
            <tr class="col-6">
                <td><button type="submit" class="button1 button1-pom" >Submit</button></td>
                <td><button type="reset" class="button1 button1-pom2">Clear</button></td>
                </tr>
        </table>
    
    </form>
 
    
    <div class="line2"></div>
</div>
   